.App {
  text-align: center;
}

.menu-bar {
  background-color: ffffff;
  width: 100%;
  color: black;
  display: flex;

  text-align: center;
  align-items: center;
}

.menu-home-item {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #3A923D;
  text-decoration: none; 
}

.menu-bar-item {
  margin-left: 20px;
  font-weight: bold;
  color: inherit;
  text-decoration: none; 
}

.menu-bar-item:hover {
  color: #3A923D;
}

.home {
  display: flex;
}

.home-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 5vw;
  margin-top: 100px;
}

.home-main-title {
  width: 100%;
  text-align: left;
  font-size: 4em;
  margin-left: 5px;
}

.home-main-content {
  width: 100%;
  text-align: left;
  font-size: 2em;
  margin-left: 10px;
  margin-top: 0px; 
}

.match {
  display: flex;
  flex-direction: column;
}

.match-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}

.match-main-title {
  width: 100%;
  text-align: center;
  font-size: 4em;
}
.match-main-sub{
  text-align: center;
  margin-left: 70px;
  margin-top: 0px; 
  margin-bottom: 30px; 
}

.reserve {
  display: flex;
  flex-direction: column;
}

.reserve-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}

.reserve-main-title {
  width: 100%;
  text-align: center;
  font-size: 4em;
}


.team {
  display: flex;
  flex-direction: column;
}

.team-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}

.team-main-title {
  width: 100%;
  text-align: center;
  font-size: 4em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}